<a href="https://colab.research.google.com/github/JorgePeje/test-python-utec/blob/main/Programacion-Python-Utec/modulo1_fundamentos/ejerciciosclase/Ejercicios23-04Monica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas

Ejercicio 1

Crear una lista con los nombres de 5 bancos.

In [1]:
bancos=["BBVA", "BCP", "Interbank", "Pichincha", "Scotiabank"]

Ejercicio 2

Acceder al tercer banco de la lista.

In [2]:
bancos[2]

'Interbank'

Ejercicio 3

Agregar un nuevo banco a la lista.

In [3]:
bancos.append("Banbif")

Ejercicio 4

Eliminar el segundo banco.

In [4]:
bancos
bancos.remove("BCP")
bancos

['BBVA', 'Interbank', 'Pichincha', 'Scotiabank', 'Banbif']

Ejercicio 5

Ordenar alfabéticamente los bancos.

In [5]:
bancos.sort()

In [6]:
bancos

['BBVA', 'Banbif', 'Interbank', 'Pichincha', 'Scotiabank']

# Condicionales IF, ELIF, ELSE

Ejercicio 1

Verificar si un cliente tiene ingreso > 3000.

In [7]:
ingreso=float(input("Ingresar su ingreso: "))
if ingreso>3000:
  print("El cliente tiene ingreso mayor a 3000")

Ingresar su ingreso: 3000.1
El cliente tiene ingreso mayor a 3000

Ejercicio 2

Evaluar edad para otorgar tarjeta de crédito.

In [9]:
edad=int(input("Ingresar su edad: "))
if edad>=18:
  print("El cliente es mayor de edad")
else:
  print("El cliente es menor de edad")

Ingresar su edad: 19
El cliente es mayor de edad

Ejercicio 3

Evaluar un score de crédito.

In [11]:
score=int(input("Por favor ingresar tu score crediticio"))
if score>=930 and score<=970:
  print("Excelente score")
elif score>=900 and score<=929:
  print("Score regular")
else:
  print("Score bajo")

Por favor ingresar tu score crediticio930
Excelente score

Ejercicio 4

Verificar si una cuenta tiene saldo negativo.

In [12]:
saldo=float(input("Ingresar su saldo: "))
if saldo<0:
  print("El cliente tiene saldo negativo")
else:
  print("El cliente no tiene saldo negativo")

Ingresar su saldo: 500
El cliente no tiene saldo negativo

Ejercicio 5

Comparar dos tasas de interés.

In [13]:
tasa_interes_1=float(input("Ingresar la tasa de interés 1: "))
tasa_interes_2=float(input("Ingresar la tasa de interés 2: "))
if tasa_interes_1>tasa_interes_2:
  print("La tasa de interés 1 es mayor a la tasa de interés 2")
else:
  print("La tasa de interés 2 es mayor a la tasa de interés 1")

Ingresar la tasa de interés 1: 2.30
Ingresar la tasa de interés 2: 2.35
La tasa de interés 2 es mayor a la tasa de interés 1

Ejercicio 6

Evaluar si un cliente tiene más de 3 productos financieros.

In [14]:
productos=["prod1","prod2","prod3","prod4"]
if len(productos)>3:
  print("El cliente tiene más de 3 productos")
else:
  print("El cliente no tiene más de 3 productos")

El cliente tiene más de 3 productos

Ejercicio 7

Determinar si un monto depositado supera los 10,000.

In [16]:
monto_depositado=float(input("Ingresar el monto depositado: "))
if monto_depositado>10000:
  print("El monto depositado supera los 10,000")
else:
  print("El monto depositado no supera los 10,000")

Ingresar el monto depositado: 10000
El monto depositado no supera los 10,000

# **Diccionarios**

Ejercicio 1

Crear un diccionario con datos de un cliente.

In [17]:
cliente ={
    "Nombre": "Jorge",
    "Apellido": "Peje",
    "Edad": 29,
    "Saldo cliente": 980
    }

Ejercicio 2

Acceder al saldo del cliente.

In [19]:
cliente["Saldo cliente"]

980

Ejercicio 3

Modificar el saldo.

In [21]:
cliente["Saldo cliente"]=4080
cliente

{'Nombre': 'Jorge', 'Apellido': 'Peje', 'Edad': 29, 'Saldo cliente': 4080}

Ejercicio 4

Agregar una nueva llave 'tarjeta_credito'.

In [22]:
cliente["tarjeta_credito"]="BBVA"
cliente

{'Nombre': 'Jorge',
 'Apellido': 'Peje',
 'Edad': 29,
 'Saldo cliente': 4080,
 'tarjeta_credito': 'BBVA'}

Ejercicio 5

Eliminar el nombre del cliente.

In [23]:
del cliente["Nombre"]
cliente

{'Apellido': 'Peje',
 'Edad': 29,
 'Saldo cliente': 4080,
 'tarjeta_credito': 'BBVA'}

# FOR

Ejercicio 1

Recorrer una lista de tasas de interés.

In [24]:
tasas_interes=[0.03, 0.04, 0.05, 0.06]
for tasa in tasas_interes:
  print(tasa)

0.03
0.04
0.05
0.06

Ejercicio 2

Sumar todos los saldos de una lista.

In [25]:
saldos=[1000, 2000, 3000, 4000]
suma=0
for saldo in saldos:
  suma=suma+saldo
print(suma)

10000

Ejercicio 3

Recorrer una lista de precios de productos ecommerce y aplicar descuento de 10%.

In [26]:
productos=[100, 200, 300, 400]
for producto in productos:
  print(producto*0.9)

90.0
180.0
270.0
360.0

Ejercicio 4

Contar cuántos productos tienen un precio mayor a 100.

In [27]:
productos=[50, 70, 100, 120, 200]
contador=0

for producto in productos:
 if producto>100:
  contador=contador+1
print(contador)

2

Ejercicio 5

Recorrer campañas de marketing y mostrar su nombre.

In [28]:
campaña=["camp1", "camp2", "camp3", "camp4"]
for camp in campaña:
  print(camp)

camp1
camp2
camp3
camp4

Ejercicio 6

Recorrer un diccionario de clientes con saldo y mostrar solo los que tengan saldo > 2000.

In [2]:
saldo_clientes = {
    "cliente1": 1000,
    "cliente2": 2000,
    "cliente3": 3000,
    "cliente4": 4000
}

for saldo in saldo_clientes.values():
    if saldo > 2000:
        print("Cliente", saldo, "Saldo:", saldo_clientes[saldo])

KeyError: 3000

Ejercicio 7

Recorrer una lista de emails de clientes y contar los que terminan en "@gmail.com".

# Mini Proyecto

"Evaluador de Clientes Hipotecarios"

Contexto:
Un banco quiere evaluar a sus clientes para ofrecerles un nuevo crédito hipotecario.
Cada cliente tiene datos como: nombre, ingreso mensual, deudas actuales y número de productos contratados.

Objetivo:
1. Crear la base de datos de clientes usando un diccionario.
2. Usar for para recorrer todos los clientes.
3. Aplicar condicionales para clasificar:
   - "Elegible" si su ingreso anual es mayor a 36,000 soles, sus deudas son menores a 15,000 soles y tiene al menos 2 productos contratados.
   - "Requiere Evaluación" si cumple solo algunas condiciones.
   - "No Elegible" si no cumple ninguna condición.
4. Mostrar el resultado bien formateado por cliente.

Instrucciones

1. Crea un diccionario llamado clientes con al menos 5 clientes.
2. Cada cliente tendrá:
   - Nombre (str)
   - Ingreso mensual (float)
   - Deudas (float)
   - Número de productos contratados (int)
3. Calcula el ingreso anual (ingreso mensual × 12).
4. Usa un for para recorrer cada cliente.
5. Usa if, elif, else para clasificarlo en una de las tres categorías.
6. Muestra en pantalla: Cliente: {nombre} - Resultado: {clasificación}

# 🔥 Nivel extra:

1. Ingresa manualmente los clientes (input).
2. Calcula la diferencia absoluta (abs) entre ingreso anual y deudas.
3. Redondea (round) el ingreso anual al número entero más cercano.