<a href="https://colab.research.google.com/github/JorgePeje/test-python-utec/blob/main/Programacion-Python-Utec/modulo1_fundamentos/clase03_condicionales/clase6_estructuras_de_control_repetitivas_i.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Introducción a Diccionarios

**¿Qué es un diccionario?**

Es una colección de datos en formato clave: valor.

Permite acceder a la información mediante claves, no por posición como las listas.

**¿Para qué sirve?**

Ideal para representar objetos del mundo real.

Muy útil en el sector financiero para almacenar datos de clientes, productos financieros, tasas, etc.

Ejemplo:

In [ ]:
cliente = {
    "nombre": "Ana",
    "edad": 35,
    "ingreso": 4500,
    "morosidades": 0
}
print(cliente["ingreso"])  # Acceder al ingreso del cliente

4500

In [ ]:
print(cliente["edad"])

35

**Cómo acceder a valores:**

Usando la clave: diccionario["clave"]

**Añadir nuevo par clave-valor:**

In [ ]:
cliente["tipo_credito"] = "Hipotecario"

In [ ]:
print(cliente["tipo_credito"])

Hipotecario

In [ ]:
cliente

{'nombre': 'Ana',
 'edad': 35,
 'ingreso': 4500,
 'morosidades': 0,
 'tipo_credito': 'Hipotecario'}

**Empezar con un diccionario vacío:**

In [ ]:
nuevo_cliente = {}
nuevo_cliente["nombre"] = "Luis"
nuevo_cliente["ingreso"] = 3000

In [ ]:
nuevo_cliente

{'nombre': 'Luis', 'ingreso': 3000}

In [ ]:
new_datos={}
new_datos["Nombre"]="Jorge Peje"
new_datos["DNI"]= "73030076"
new_datos["Edad"]= 29

In [ ]:
new_datos2={}
new_datos2["Nombre"]="Bridgette Cordova"
new_datos2["DNI"]= "73007258"
new_datos2["Edad"]= 30

In [ ]:
new_datos3={}
new_datos3["Nombre"]="Herlinda Gonzales"
new_datos3["DNI"]= "07976021"
new_datos3["Edad"]= 54

In [ ]:
datos={
    "1":new_datos,
    "2":new_datos2,
    "3":new_datos3,
}

In [ ]:
print(datos)
datos['1']['Edad']=21
print(datos)

{'1': {'Nombre': 'Jorge Peje', 'DNI': '73030076', 'Edad': 29}, '2': {'Nombre': 'Bridgette Cordova', 'DNI': '73007258', 'Edad': 30}, '3': {'Nombre': 'Herlinda Gonzales', 'DNI': '07976021', 'Edad': 54}}
{'1': {'Nombre': 'Jorge Peje', 'DNI': '73030076', 'Edad': 21}, '2': {'Nombre': 'Bridgette Cordova', 'DNI': '73007258', 'Edad': 30}, '3': {'Nombre': 'Herlinda Gonzales', 'DNI': '07976021', 'Edad': 54}}

In [ ]:
print(datos)
datos['2']['Sexo']="Femenino"
print(datos)

{'1': {'Nombre': 'Jorge Peje', 'DNI': '73030076', 'Edad': 21}, '2': {'Nombre': 'Bridgette Cordova', 'DNI': '73007258', 'Edad': 30}, '3': {'Nombre': 'Herlinda Gonzales', 'DNI': '07976021', 'Edad': 54}}
{'1': {'Nombre': 'Jorge Peje', 'DNI': '73030076', 'Edad': 21}, '2': {'Nombre': 'Bridgette Cordova', 'DNI': '73007258', 'Edad': 30, 'Sexo': 'Femenino'}, '3': {'Nombre': 'Herlinda Gonzales', 'DNI': '07976021', 'Edad': 54}}

In [ ]:
print(datos)
del datos['1']
print(datos)

{'1': {'Nombre': 'Jorge Peje', 'DNI': '73030076', 'Edad': 21}, '2': {'Nombre': 'Bridgette Cordova', 'DNI': '73007258', 'Edad': 30, 'Sexo': 'Femenino'}, '3': {'Nombre': 'Herlinda Gonzales', 'DNI': '07976021', 'Edad': 54}}
{'2': {'Nombre': 'Bridgette Cordova', 'DNI': '73007258', 'Edad': 30, 'Sexo': 'Femenino'}, '3': {'Nombre': 'Herlinda Gonzales', 'DNI': '07976021', 'Edad': 54}}

**Modificar valores:**

In [ ]:
cliente["ingreso"] = 5000

**Eliminar pares clave-valor:**

In [ ]:
clientes = {
    "001": {"nombre": "Ana", "ingreso": 4000},
    "002": {"nombre": "Luis", "ingreso": 3000}
}

In [ ]:
print(clientes)

{'001': {'nombre': 'Ana', 'ingreso': 4000}, '002': {'nombre': 'Luis', 'ingreso': 3000}}

**Ejercicio 1:**

Crea un diccionario para un producto financiero con claves como nombre, tasa de interés y tipo. Luego accede a la tasa de interés y modifícala.

**Ejercicio 2:**

Crea un diccionario de 3 clientes con su nombre e ingresos. Agrega un nuevo cliente. Luego, elimina uno de los existentes.

In [ ]:

c1={
    "nombre":"Jorge",
    "ingreso":1500
}
c2={
    "nombre":"Diego",
    "ingreso":2000
}
c3={
    "nombre":"Bridgette",
    "ingreso":900
}
clientes={
    "01": c1,
    "02": c2,
    "03": c3
}
print(clientes) # Se creo el diccionario con 03 clientes
clientes["04"]={
    "nombre": "Victoria",
    "ingreso": 2000
}
print(clientes) # Se agrega 01 cliente

del clientes["04"]
print(clientes)

{'01': {'nombre': 'Jorge', 'ingreso': 1500}, '02': {'nombre': 'Diego', 'ingreso': 2000}, '03': {'nombre': 'Bridgette', 'ingreso': 900}}
{'01': {'nombre': 'Jorge', 'ingreso': 1500}, '02': {'nombre': 'Diego', 'ingreso': 2000}, '03': {'nombre': 'Bridgette', 'ingreso': 900}, '04': {'nombre': 'Victoria', 'ingreso': 2000}}
{'01': {'nombre': 'Jorge', 'ingreso': 1500}, '02': {'nombre': 'Diego', 'ingreso': 2000}, '03': {'nombre': 'Bridgette', 'ingreso': 900}}

# 2. For en Python

**¿Qué es for?**

Una estructura de control repetitiva.

Se usa para recorrer elementos de una lista, string o diccionario.

**¿Para qué sirve?**

Automatizar procesos repetitivos, como revisar múltiples clientes o productos financieros.

**Sintaxis básica:**

In [1]:
lista_clientes = ["Ana","Luis","Sofia"]
lista_clientes

['Ana', 'Luis', 'Sofia']

In [3]:
for cliente in lista_clientes:
    print(cliente)
lista_clientes [0]

Ana
Luis
Sofia

'Ana'

**¿Por qué es repetitiva?**

Porque ejecuta el mismo bloque de código por cada elemento en la secuencia.

In [12]:
ingresos = [1000, 2000, 3000, 2000, 1500, 2300, 2345]
i=0
for x in ingresos:
    ingresos[i]=x*12
    i=i+1
    print(i,ingresos)

1 [12000, 2000, 3000, 2000, 1500, 2300, 2345]
2 [12000, 24000, 3000, 2000, 1500, 2300, 2345]
3 [12000, 24000, 36000, 2000, 1500, 2300, 2345]
4 [12000, 24000, 36000, 24000, 1500, 2300, 2345]
5 [12000, 24000, 36000, 24000, 18000, 2300, 2345]
6 [12000, 24000, 36000, 24000, 18000, 27600, 2345]
7 [12000, 24000, 36000, 24000, 18000, 27600, 28140]

In [10]:
ingresos = [1000, 2000, 3000]
ingresos_anuales=[]
for ingreso in ingresos:
  ingresos_anuales.append(ingreso*12)
print(ingresos_anuales)

[12000, 24000, 36000]

Ejemplo 2: Recorrer un diccionario de clientes

In [ ]:
for id_cliente in clientes:
    print("ID:", id_cliente, "Ingreso:", clientes[id_cliente]["ingreso"])

Ejemplo 3: Contar cuántos clientes tienen ingreso > 3000

In [ ]:
contador = 0
for cliente in clientes.values():
    if cliente["ingreso"] > 3000:
        contador += 1
print("Clientes con alto ingreso:", contador)

Ejemplo 4: Crear una lista con tasas ajustadas

In [ ]:
tasas = [0.05, 0.07, 0.08]
tasas_ajustadas = []
for tasa in tasas:
    tasas_ajustadas.append(tasa + 0.01)
print(tasas_ajustadas)

Ejemplo 5: Reporte de evaluación

In [ ]:
clientes = ["Ana", "Luis", "Sofía"]
for nombre in clientes:
    print(f"Evaluación enviada a {nombre}")